@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 必須項目 */
.required:after {
  content: " *";
  color: #ff3232;
}

.required-before:before {
  content: " *";
  color: #ff3232;
}

/* ヘッダー非表示 */
header.fixed-hide{
  top: -55px;
}
