@tailwind base;
@tailwind components;
@tailwind utilities;

/* 必須項目 */
.required:after {
  content: " *";
  color: #E00;
}

/* フォーム入力時のエラー表示 */
span.label-text .field_with_errors {
  display: contents;
}

.field_with_errors input {
  width: 100%;
  border: 1px solid #ff3265;
}
